<meta charset="UTF-8">
<title>Recommendation Engine</title>
<link rel="icon" href="/icon.png">
<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
<link rel="stylesheet" type="text/css" href="/css/testStyle.css">


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<style>
    body {
      padding-top: 10px;
    }
</style>
