
<meta charset="UTF-8">
<title>Recommendation Engine</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
<link rel="stylesheet" type="text/css" href="css/style.css">
<style>
    body {
      padding-top: 10px;
    }
</style>
