<html lang="en">
<head>
   <% include ../partials/head %>
</head>

<body class="container">
  <header>
    <% include ../partials/header %>
</header>

    <form id="nameForm" action="openUser">
      <label>
        What is your name? <br />
      </label>
        <input class="form-control" name="user" type="textfield" id="nameForm">
        <input type="submit" value="Enter"/>
    </form>






</body>


</html>
