<html lang="en">
<head>
   <% include ../partials/head %>
</head>

<body class="container">
  <header>
    <% include ../partials/header %>
</header>

    <form id="nameForm" action="openUser">
        What is your name? <br />
        <input name="user" type="textfield">

    </form>
</body>


</html>
