<html lang="en">
<head>
   <% include ../partials/head %>

    <script>
function enter(){
    var name = document.getElementById("nameInput").value;
    if(name.length > 0)
        window.location = "/user/"+name;
    return false;
}
    </script>
</head>

<body class="container">
  <header>
    <% include ../partials/header %>
</header>

    <form id="nameForm"  onsubmit="return enter()" target="_self">
      <label>
        What is your name? <br />
      </label>
        <input class="form-control" autofocus="true" name="user" type="textfield" id="nameInput" />
        <input type="submit" value="Enter"/>
    </form>
</body>
</html>
