<html lang="en">
<head>
   <% include ../partials/head %>

    <script>
function enter(){
    var name = document.getElementById("nameInput").value;
    if(name.length > 0)
        window.location = "/user/"+name;
    return false;
}
    </script>
</head>

<body class="container">
  <header>
    <!-- <% include ../partials/header %> -->
</header>

    <form  autocomplete="off" id="nameForm"  onsubmit="return enter()" target="_self">
      <div class="flexItem" id="question">Hi, what's your name?</div>
        <input  class="flexItem" id="nameInput"  autofocus="true" name="user" type="textfield"  />

        <input id="enterBtn" class="flexItem" type="submit" value="Enter"/>
    </form>
</body>
</html>
