  <% include ../partials/head %>
  <% include ../partials/header %>

  <script>
function submitGenre() {
  var genreInputs = document.getElementByClassName("genreInput");
  var genreString;
  var i;
  for(i = 0; i < genreInputs.length; i++)
  {
    if(genreInputs[i].checked == true)
    {
      genreString += genreInputs[i].getAttribute("name") + ", ";
    }
  }
 console.log(genreString);

 return false;
}
  </script>

<div class = "container">

<center><label> Welcome &nbsp;<%= user.name %> </label></center>
<center><label> Please select genres you like: </label></center>
<br>

<form id="genreForm" onsubmit="return submitGenre()" target="_self">
    <% for(var i=0; i < genres.length; i++) { %>
  <label class = "btn btn-default" id="genres">
    <input type="checkbox" autocomplete="off" class="genreInput" name="<%= genres[i] %>">
       <%= genres[i] %>
     </label>

    <% }%>
    <br>
    <br>
    <input type="submit" value="Enter" class ="btn btn-primary">
  </form>

</div>
