Welcome &nbsp;<%= user.name %>

<br />

Please select movies you like

<ul id="movies">
    <% for(var i=0; i < movieList.length; i++) { %>
    <li class="movie">
        <div class="name"><%= movieList[i].title %></div>
        <img class="poster" src="<%= movieList[i].img %>"></img>
    </li>
    <% }%>
</ul>