  <% include ../partials/head %>

<div class = "container">

<center><label> Welcome &nbsp;<%= user.name %> </label></center>
<center><label> Please select genres you like: </label></center>
<br>
    <% for(var i=0; i < genres.length; i++) { %>
  <label class = "btn btn-default" id="genres">
    <input type="checkbox" autocomplete="off">
       <%= genres[i] %>
     </label>

    <% }%>

</div>
