Welcome &nbsp;<%= user.name %>

<br />

Please select movies you like

<ul id="movies">
    <li class="movie">
        <div class="name"></div>
        <img class="poster" src=""></img>
    </li>

</ul>