@import url('https://fonts.googleapis.com/css?family=Roboto');

html,body{
    padding:0px;
    margin:0px;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align:center;
    background-color:black;
}
textarea:focus, input:focus{
    outline: none;
}

.flexItem{
    display: flex;
}

#question{
    font-size:50px;
    color: #c4bcc5;
    font-family: 'Roboto', sans-serif;
    width:100%;
    justify-content: center;
}

#nameInput{
    background-color:transparent;
    border:none;
    width:100%;
    height:60px;
    color:white;
    font-size:60px;
    justify-content: center;
    text-align: center;
    border-bottom:1px solid gray;
    margin-top:20px;
    margin-bottom:20px;
}

#enterBtn{
    background-color:transparent;
    border:none;
    color:#c4bcc5;
    font-size:50px;
    justify-content: center;
    width:100%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
#genreForm{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 600px;
}
.checkboxContainer{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.genreBtn{
    border:none;
    padding:10px;
    margin:10px;
    color: #dddddd;
    cursor:pointer;
    border-radius:5px;
    border:1px solid transparent;

}

.genreBtn:hover{
    border:1px solid white;
}

.genreInput{
    display:none;
    color:white;
}

.genreInput:checked + .genreBtn{
    background-color:gray;
    color:white;
}

#enterBtn:hover{
    color:white;
}

#continueBtn{
    text-align:center;
    justify-content: center;
}
#movies{
    text-align:center;
    justify-content: center;
    flex-flow: column;
}
#movieList{
    flex-flow:row;
}
.movie{
    margin:10px;
}
.poster{

    width:150px;
    height:220px;

}
.movieBtn{
    border:1px solid gray;
    opacity:0.5;
}
.movieInput{
    display: none;
}
.movieInput:checked + .movieBtn{
     border:1px solid white;
    opacity:1;
 }